# put into ~/.config/systemd/user/
# systemtcl --user daemon-reload
# systemtcl --user start kmonad-starter

[Unit]
Description=kmonad stater service

[Service]
ExecStart=/usr/bin/kmonad /home/dez/stuff/soft/kmonad/kmonad_cfg.kbd
ExecStop=kill $(pgrep -f kmonad_cfg.kbd)

[Install]
WantedBy=default.target
